@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-faustina: "Faustina", serif;
}

:root {
  font-family: var(--font-poppins);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.faustina-regular {
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
